/* versão mobile */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 411px;
  height: 731px;
  font-family: 'Lato', sans-serif;
}

.cabecalho {
  background-color: #E0E0E0;
}

.cabecalho-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
}

.cabecalho-box h1 {
  font-size: 24px;
}

.cabecalho-box img {
  width: 100%;
  max-width: 40px;
}

.secao-transacao {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.nova-transacao h1 {
  display: none;
}

.campos-transacao {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.campos-transacao label {
  padding-bottom: 8px;
}

.campos-transacao select {
  padding: 5px 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #7a7a7a;
  border: 1px solid #979797c0;
  background-color: transparent;
  border-radius: 4px;
}

.campos-transacao input {
  padding: 5px 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  border:1px solid #979797c0;
  border-radius: 4px;
}

.btn-adicionar-transacao {
  width: 100%;
  background-color: #333333;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 5px 0;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-weight: 600;
}

.secao-extrato {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 14px;
  padding-left: 10px;
}

.secao-extrato h1 {
  font-size: 18px;
  padding: 44px 0 15px 0;
  border-top: 1px solid #333333;
}

.secao-extrato td {
  padding-top: 10px;
  padding-bottom: 0;
}

table {
  width: calc(100% - 20px);
}

.td-receita {
  width: 4%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.td-mercadoria {
  width: 30%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.td-valor {
  width: 66%;
  text-align: right;
  padding-bottom: 0;
  margin-bottom: 0;
}

#valor-total p {
  font-size: 12px;
}

.linha-tabela {
  padding: 10px 0 0 0;
  border-bottom: 1px solid #979797;
}

.linha-dupla-tabela {
  border-bottom: 5px double #979797;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #333333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
padding: 8px 32px 8px 8px;
text-decoration: none;
font-size: 20px;
text-align: right;
color: #fff;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #000;
background-color:#C4C4C4;
}

.sidenav .closebtn {
position: absolute;
top: 0;
left: 25px;
font-size: 36px;
margin-right: 50px;
}

@media screen and (max-width: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

/* Versão tablet */

@media screen and (min-width: 412px) {
  body {
    width: 100%;
    height: 100%;
  }

  .secao-transacao {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 20px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #979797;
    border-radius: 4px;
  }

  .div-tipo-transacao {
    width: 25%;
  }

  .div-nome-mercadoria {
    width: 50%;
  }

  .div-valor-mercadoria {
    width: 25%;
  }

  .campos-transacao select {
    margin-right: 10px;
  }

  .campos-transacao input {
    margin-right: 10px;
  }

  .div-button {
    margin-right: 10px;
  }
  
  .nova-transacao {
    width: 100%;
    text-align: center;
  }

  .nova-transacao h1 {
    display: initial;
    font-size: 18px;
  }

  .secao-transacao label {
    margin-bottom: 5px;
  }

  .btn-adicionar-transacao {
    width: 268px;
    height: 32px;
  }

  .secao-extrato h1 {
    margin-top: 25px;
    border: 0px solid transparent;
  }
}

/* Versão tablet - orientação paisagem */

@media screen and (min-width: 1024px) and (orientation: landscape) {
  
  body {
    width: 100%;
    height: 100%;
  }

  .cabecalho {
    width: 100%;
  }

  .cabecalho-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cabecalho-box h1 {
    width: 650px;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
  }

  .cabecalho-box span {
    display: none;
  }

  .sidenav .closebtn {
    display: none;
  }

  .cabecalho-box .sidenav {
    display: contents;
  }

  .sidenav {
    margin-left: 100px;
  }

  .sidenav a {
    width: 220px;
    height: 50px;
    margin: 15px 0;
    padding: 15px 0;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
  }

  .sidenav a:hover {
    color: #fff;
    background-color: #333333;
  }

  .nav-links {
    display: flex;
  }

  .sidenav .limpar-dados {
    width: 160px;
  }

  .sidenav .cadastro-transacao {
    width: 230px;
    position: relative;
  }

  .sidenav .cadastro-transacao:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 25%;
    height: 50%;
    border-left: 1px solid #333;
  }

  .secoes-financeiro {
    display: flex;
  }

  .secao-transacao {
    width: 100%;
    max-width: 400px;
    height: 360px;
    margin: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;

  }
  .campos-transacao{
    width: 100%;
  }

  .div-button {
    width: 100%;
  }

  .btn-adicionar-transacao {
    width: 100%;
  }


  .secao-transacao input, select {
    width: 100%;
    height: 32px;
    padding-left: 5px;
  }


  .secao-extrato {
    width: 652px;
    height: 281px;
  }

  .secao-extrato h1 {
    margin-top: 0;
  }
}

/* Versão desktop */

@media screen and (min-width: 1025px) {
  body {
    width: 100%;
    height: 100%;
  }
  
  .secoes-financeiro {
    display: flex;
    justify-content: center;
  }
}
<<<<<<< HEAD
=======
.border-double{
    border-bottom: double;
    border-color: #979797;
}
.lucro{
    margin-top: -7px;
    margin-right: 13px;
    text-align: end;
    position: relative;
    font-size: 10px;
    }
    .footer{
        margin-top: 300px;
        position: absolute;
        width: 411px;
        height: 8px;
        background: #333333;
    }
 /*Inicio da estilização do responsivo*/
    @media (min-width:768px){

        body{
            width: 768px;
        }

       .box-main{
           width: 768px;
           height: 1024px;
       }

       .box-top{
           width: 768px;
           height: 60px;
       }

       nav{
        width: 252px;
        height: 1000px;
        left: -1115px;
       }

       input[type="checkbox"]:checked ~ nav {
        transform: translateX(1201px);
    }
    .text-menu{
        size: 20px;
        margin-left: 313px;
    }

    #img-menu{
        margin-right: 20px;
        margin-top: 19px;
    }

/*Inicio da estilização do form para responsivo*/
     .box-secundary{
        width: 728px;
        height: 189px;
        border: 1px solid #979797;
        border-radius: 4px;
        margin-bottom: 130px;
        margin-left: 20px;
        margin-top: 20px;
     }

     .text-form{
         display: block;
         font-size: 18px;
         margin-top: 20px;
     }
    .form-box{
        position: relative;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-top: -30px;
        margin-left: -18px;
    }
    #label-secundary{
        margin-top: 0px;
        margin-left: 5px;
        font-size: 14px;
        position: relative;
        left: 40px;
    }
    #transaction{
        width: 150px;
        height: 34px;
        margin-left: -70px;
        margin-top: 70px;
        margin-right: 15px;
    }
    #label-two{
        margin-left: 0px;
        margin-top: 0px;
        top: 1px;
        position: relative;
        left: -8px;
        font-size: 14px;
    }
    #merchandise{
        margin-right: 15px;
        width: 348px;
        height: 32px;
        margin-left: -82px;
        margin-top: 70px;
    }
    #label-three {
        margin-left: 0px;
        margin-top: 0px;
    }
    #price{
        width: 150px;
        height: 32px;
        margin-left: -40px;
        margin-top: 70px;
        left: -4px;
        position: relative;
        font-size: 14px;

    }

    #submit{
        width: 200px;
        top: 15px;
        left: 486px;
        position: relative;
    }

    /*Inicio da 3º parte com tabelas*/
 
    hr{
        display: none;
    }

    #box-table{
        position: relative;
        bottom: 70px;
    }

    table{
        width: 728px;
        height: 281px;
    }

    .valor-1, .valor-2{
        text-align: end;
    }

    .tr-alt{
        height: 10px;
    }
    #none-line{
        position: relative;
        bottom: 45px;
    }
    .valor-2{
        position: relative;
        left: 0px;
        top: -4px;
    }
    h1{
        position: relative;
        left: 27px;
    }
    .lucro{
        position: relative;
        bottom: 100px;
        right: 3px;
    }
    .footer{
        width: 100%;
    }
}

/*Inicio do Responsivo tablet*/

@media (min-width:1112px){
    body{
        width: 100%;
    }
    .box-main{
        width: 1112px;
        height: 834px;
    }
    .box-top{
        width: 1112px;
        height: 80px;
        background: #E0E0E0;
    }
    .logo-top{
        position: relative;
        left: 5px;
        top: 9px;
        width: 40px;
        height: 37px;
    }
    .text-menu{
        size: 20px;
        margin-left: 80px;
        margin-top: 28px;
    }
    
    nav{
        margin-top: 0px;
        width: 350px;
        height: 40px;
        left: -30px;
        background: #FFFFFF;
    }
    ul{
        display: flex;
        position: relative;
        top: 0px;
        left: -15px;
        
    }

    li{
        
        border-right: 1px solid #979797;
    }

    a{
        padding: 0px;
        display: flex;
        text-align: center;
        color: #333333;
        font-size: 16px;
    }
    .three-li{
    border: none;
    margin-left: 20px;
    margin-top: 10px;
    }

    a:hover{
        background: none;
    }
    
    input[type="checkbox"]:checked ~ nav {
        transform: translateX(0px);
}

#img-menu{
    display: none;
}

/*Inicio da estilização do box-secundary*/

.box-secundary{
    width: 400px;
    height: 344px;
}

.form-box{
    position: relative;
    width: 370.2px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

h1{
    left: 10px;
}

#label-secundary{
    margin-top: 0px;
    margin-left: 5px;
    font-size: 14px;
    position: relative;
    left: -100px;
    top: 30px;

}

#transaction{
    position: absolute;
    width: 370px;
    height: 32px;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 65px;
}

#label-two{
    right: 116px;
    top: 40px;
    left: inherit;
}

#merchandise{
    margin-right: 0px;
    width: 370px;
    height: 32px;
    margin-left: 67px;
    margin-top: 28px;   
}

#label-three{
    font-size: 14px;
    position: relative;
    right: 130px;
    bottom: 30px;;
}

#price{
    width: 370px;
    height: 32px;
    margin-left: 0px;
    margin-top: 0px;
    left: 36px;
    top: -38px;
    position: relative;
    font-size: 14px;
}

#submit{
    left: -4px;
    top: -50px;
    width: 370px;
}

/*Inicio da 3ºparte com tabelas*/

.table-one
{
    width: 652px;
    height: 281px;
    top: -405px;
    left: 440px;
    position: absolute;
}

table{
    width: 652px;
    height: 280px;
}

#none-line{
    bottom: 25px;
}
.lucro{
    bottom: 60px;
    right: -38px;
}
}

@media (min-width:1500px){
    .box-main{
        width: 1500px;
        height: 1000px;
    }

    .box-top{
        width: 1500px;
    }
    .logo-top{
        margin-left: 180px;
    }

    .text-menu{
        margin-left: 260px;
    }

    nav{
        left: -190px;
    }

    section{
        position: relative;
        left:190px;
    }
}
>>>>>>> b6e4a237fccb3c4408fe7e74aefe3a5015dbbca6
